.Homelink a:hover{
    opacity: 100%;
    text-decoration: none;
    color:ghostwhite;
    
}
.Homelink a{
    opacity: 80%;
    color:ghostwhite;
    font-size:32px;
    text-decoration: none;
}
body{
    background-color: #0A0A0A;
    color:ghostwhite;
}
.card{
    width:50%;
    margin-left: 25%;
    background-color: #121212;
    font-size: 13pt;
}
h1{
    text-align: center;
    color:ghostwhite;
}
h5{
    text-align: center;
    color:ghostwhite;
    font-weight: bolder;
    font-size: 24pt;
}